
<body>
    <section class="container">
        <section class="container-img">
            <p></p>
        </section>
        <section class="container-login">

            <form [formGroup]="myForm" autocomplete="off" class="example-form">
                <div class="main-text">
                    <h1> Registrate </h1>
                </div>
                <div class="main-form">
                    <div class="container-name">
                        <mat-form-field>
                            <mat-label>Nombres</mat-label>
                            <input matInput formControlName="name" />
                        </mat-form-field>
                        <div class="input-text">
                              <div 
                        *ngIf="
                        myForm.get('name')?.hasError('required') &&
                        myForm.get('name')?.touched
                        " style="margin-top: -20px">  
                        <span class="mda-form-msg">Ingresar los nombres correctamente</span>
                        </div>
                        <div *ngIf="myForm.get('name')?.hasError('minlength')" style="margin-top: -20px">
                        <span class="mda-form-msg">
                         Este campo debe tener como máximo 10 caracteres
                        </span>
                        </div>
                        </div>
                      

                    </div>
                    <div class="container-lastname">
                        <mat-form-field>
                            <mat-label>Apellidos</mat-label>
                            <input matInput formControlName="lastname" />
                        </mat-form-field>
                          <div class="input-text">
                         <div *ngIf="
                         myForm.get('lastname')?.hasError('required') &&
                        myForm.get('lastname')?.touched
                         " style="margin-top: -20px">
                        <span class="mda-form-msg">Ingresar los Apellidos correctamente</span>
                       </div>
                        <div *ngIf="myForm.get('lastname')?.hasError('minlength')" style="margin-top: -20px">
                            <span class="mda-form-msg">
                            Este campo debe tener como máximo 10 caracteres
                            </span>
                         </div>
                     </div>
                    </div>
                    <div class="container-email">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" />
                        </mat-form-field>
                       <div class="input-text">
                        <div *ngIf="
                          myForm.get('email')?.hasError('required') &&
                        myForm.get('email')?.touched
                         " style="margin-top: -20px">
                       <span class="mda-form-msg">Ingresar el Email correctamente</span>
                        </div>
                        <div *ngIf="myForm.get('email')?.hasError('minlength')" style="margin-top: -20px">
                        <span class="mda-form-msg">
                         Este campo debe tener como máximo 10 caracteres
                         </span>
                         </div>
                        <div *ngIf="myForm.get('email')?.hasError('email')" style="margin-top: -20px">
                         <span class="mda-form-msg">
                        Este campo debe tener un email correcto
                        </span>
                        </div>
                         </div>
                    </div>
                    <div class="container-password">
                    <mat-form-field>
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="password" />
                    </mat-form-field>
                    <div class="input-text">
                        <div *ngIf="
                                         myForm.get('password')?.hasError('required') &&
                                          myForm.get('password')?.touched
                                        " style="margin-top: -20px">
                            <span class="mda-form-msg">Ingresar la contraseña correctamente</span>
                        </div>
                        <div *ngIf="myForm.get('password')?.hasError('minlength')" style="margin-top: -20px">
                            <span class="mda-form-msg">
                                Este campo debe tener como minmo de 10 caracteres
                            </span>
                        </div>
                    
                    </div>
                    </div>
                    <button class="btn-success" (click)="saveUser()" [disabled]="myForm.invalid">
                        Registrar
                    </button>
                </div>

            </form>

        </section>
    </section>
</body>