span {
    margin: auto;
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}

button {
    margin: 0px 2px;
}

.narvar {
    background-color: orange;
}

.Element {
    padding: 1rem;
    margin: 1rem;

}
mat-card{
    width: 25rem;
    height: auto;
    background-color:  rgb(240, 239, 213);
}
.container{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;

}
img {
    max-width: 50%;

}
.subtitle {
    padding: 2rem;
}