<body>
    <section class="container">
        <section class="container-img">
            <p>lo</p>
        </section>
        <section class="container-login">

            <form class="example-form">
                <div class="main-text">
                    <h1> Inicia sesion </h1>
                </div>
                <div class="main-form">
                    <div class="container-email">
                        <label for=""> Email:</label>
                        <input type="email" placeholder="Ingrese correo">
                    </div>
                    <div class="container-password">
                        <label for="">Contraseña:</label>
                        <input type="password" placeholder="Contraseña">
                    </div>
                    <button class="btn-success" type="button" routerLink='/home'>
                        Inicia Sesión
                    </button>
                    <button class="btn-success" type="button" routerLink='/registration'>
                        Registrate
                    </button>
                </div>
            </form>

        </section>
    </section>
</body>