
<body>
    <section class="container">
        <section class="container-img">
            <p></p>
        </section>
        <section class="container-login">

            <form class="example-form">
                <div class="main-text">
                    <h1> Registrate </h1>
                </div>
                <div class="main-form">
                    <div class="container-name">
                        <label for=""> Nombres:</label>
                        <input type="text" placeholder="Ingrese Nombres">
                    </div>
                    <div class="container-lastname">
                        <label for="">Apellidos:</label>
                        <input type="text" placeholder="Ingrese Apellidos">
                    </div>
                    <div class="container-email">
                        <label for="">Emal:</label>
                        <input type="email" placeholder="Ingrese Email">
                    </div>
                    <div class="container-password">
                        <label for="">Contraseña:</label>
                        <input type="text" placeholder="Ingrese contraseña">
                    </div>
                    <button class="btn-success" type="submit" routerLink='/login'>
                        Registrate
                    </button>
                </div>
            </form>

        </section>
    </section>
</body>